/* Bar */
$barGapSide: 8px;
$barGapBetween: $barGapSide;

.bar-window {
    background-color: transparent;
    
}
.bar {
    background: rgba($background, $alpha);
    background-clip: padding-box;
    border-style: solid;
    border-width: 3px;
    border-width: 0px; // Override the border width for later
    border-color: transparent;

    min-width: 3rem;
}
.bar-horizontal {
    border-style: solid;
    border-width: 3px;
    
    padding-left: 1.0rem;
    padding-right: 1.0rem;
    
    margin-top: $barGapBetween;
    margin-bottom: $barGapBetween;
    
    margin-right: $barGapSide;
    margin-left: $barGapSide;
}
.bar-vertical {
    border-style: solid;
    border-width: 3px;

    padding-top: 1.0rem;
    padding-bottom: 1.0rem;

    margin-left: $barGapBetween;
    
    margin-top: $barGapSide;
    margin-bottom: $barGapSide;
}
.bar-focused {
    // border-style: solid;
    // border-width: 3px;
    // border-image: linear-gradient(135deg, rgba($border-color1, $alpha) 0%, rgba($border-color2, $alpha) 100%) 1;
}


/* Widgets */

/* Nixos Logo */
.logoWidget-vertical {
    margin-bottom: 12px;
    // margin-bottom: 50px;
}
.logoWidget-horizontal {
    // margin-right: 12px;
    margin-right: 12px;
}

/* Workspaces */
.workspaces {}
.workspaces .workspace {
    font-size: 1.75rem;
    
    padding: 6px;
    padding-top: 0px;
    // padding-left: 0.5rem;
    // padding-right: 0.5rem;

    border-style: solid;
    border-width: 1px;
    border-color: transparent;

    color: rgba($foreground, 1);
    font-weight: bolder;
}
.workspace .workspace-label-monitor-highlighted {
    color: $color-2-green;
}
.workspace .workspace-label-monitor-highlighted-monitor {
    font-size: medium;
}
.workspaces .workspace:hover {
    border-style: solid;
    border-width: 1px;
    border-color: rgba($color-5-purple, 1);
}
.workspaces .workspace-focused {
    font-size: 1.75rem;
    
    background-color: rgba($color-7-white, 0.75);
    // background-color: rgba($foreground, 0.8);
    color: rgba($background, 1);
    font-weight: bolder;
    text-shadow: none;
    
    padding: 6px;
    padding-top: 0px;
    // padding-left: 0.5rem;
    // padding-right: 0.5rem;
}


/* Systray */
.systrayWidget{
    /* background-color: rgba(62, 62, 62, 0.831); */
    /* background-color: black; */
    /* border-radius: 4px; */

    /* padding: 4px 10px 4px 10px; */

}


/* Client Title */
.clientTitle {
    /* font-size: 1.0rem; */
    margin-left: 1rem;
    /* text-shadow: palegreen; */
}
.clientTitle-horizontal{
    // writing-mode: vertical-lr;
    // text-orientation: mixed;
}
.clientTitle-vertical {
    // writing-mode: vertical-lr;
    // text-orientation: upright;
}

/* Battery */
.batteryWidget {}
.batteryWidget .label{
    font-size: 1.1rem;
}

/* Time */
// Horizontal
.timeWidget {
    color: rgba($foreground, 1);
}
.timeWidget-horizontal{
    padding-left: 10px;
}
.timeWidget-horizontal .labelTop {
    font-size: 1.1rem;
}
.timeWidget-horizontal .labelBottom {
    font-size: 1.0rem;
}
// Vertical
.timeWidget-vertical{
    margin-top: 2.0rem;
}
.timeWidget-vertical .labelTime {
    font-weight: bolder;
    font-size: 26px;
    letter-spacing: 1px;
}
.timeWidget-vertical .spacer {
    margin-top: 10px;
}
.timeWidget-vertical .labelDate {
    font-size: 12px;
    font-weight: bolder;
    margin-left: 5px;
    margin-right: 5px;
    letter-spacing: 1px;
}
